In [10]:
#Q1
import pandas as pd
list = [4,8,15,16.23,42]

In [11]:
ser = pd.Series(list)

In [12]:
ser

0     4.00
1     8.00
2    15.00
3    16.23
4    42.00
dtype: float64

In [13]:
type(ser)

pandas.core.series.Series

In [14]:
#Q2
t = [1,2,3,4,'ujwal',6,23,54,4.34,'kadshf']
var = pd.Series(t)

In [15]:
var

0         1
1         2
2         3
3         4
4     ujwal
5         6
6        23
7        54
8      4.34
9    kadshf
dtype: object

In [17]:
#Q3
import pandas as pd
data = [['Alice',25,'F'],['Bob',30,'M'],['Claire',27,'F']]
ser = pd.DataFrame(data,columns=('Name','Age','Gender'))

In [18]:
ser

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F

#Q4 
Data frame is an record or we can say records in structural format.
Example of dataframe - refer to Q3

#Q5 Here are some function are used in dataframe are as per pandas basic class are -
1. describe()
2. read_csv()
3. to_csv()
4. head()
5. tail()

Q6 All series , Dataframe, and panel are value mutalbe but except series it is size immutable

In [20]:
#Q7 
import pandas as pd
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

In [21]:
us = pd.concat([courses,fees,discount]axis = 1)

In [22]:
us

0      Spark
1    PySpark
2     Hadoop
0      22000
1      25000
2      23000
0       1000
1       2300
2       1000
dtype: object